---
layout: main
title: DSA Puddles -- Visualizations from the Dark and Stormy Archives Project
shorttitle: DSA Puddles -- Visualizations from the Dark and Stormy Archives Project
description: The Dark and Stormy Archives (DSA) project exists to provide storytelling solutions to improve the understanding of web archive collections. The DSA Puddles web site exists to feature the output of the Dark and Stormy Archives Project.
img: https://oduwsdl.github.io/dsa-puddles/assets/img/dsa-logo-monochrome-wb.png
imgalt: Dark version of the Dark and Stormy Archives Logo
---


<div class="mt-5 pt-5">

<div class="row">

{% for post in paginator.posts %}

	<div class="col">
		<div class="chapter">
		  <a href="{{post.url | prepend: site.baseurl}}"  style="vertical-align: center;">
		    {% if post.img %}
		    <img src="{{post.img}}" alt="{{post.title}}">
		    {% endif %}

		  <div class="chapter_inner" style="background-color: rgb(0, 0, 0, 0.5);">
		    <p class="chapter_number meta_text">{{post.date | date: '%Y, %b %d'}}</p>
		    <p class="chapter_title meta_text" style="font-size: 12pt;">{{post.title}}</p>
		  </div>
		  </a>
		</div>

	</div>


{% endfor %}

</div>

</div>
