---
layout: main
---

{% for post in paginator.posts %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <!-- <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}"> -->
      <img src={{ "/assets/img/collection_card_bg.png" | prepend: site.baseurl }} alt="{{post.title}}">
      {% endif %}
    
    <div class="chapter_inner">
      <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>
      <h3 class="chapter_title">{{post.title}}</h3>
      <p>{{post.source_archive}} Collection {{post.collection_id}}<br>
        Mementos selected by {{post.summarization_method}}<br>
      Visualized as {{post.surrogate}}
    </p>
    </div>
    </a>
  </div>
{% endfor %}
