<section>
    <hr>
    <p style="margin-left: 10px;">
        How this story was constructed:
        </p>
        <ol>
            <li><a href="https://twitter.com/yasmina_anwar">Yasmin AlNoamany</a> requested that the Archive-It team assist expert archivists in selecting the best mementos from these collections. The archivists were given the following guidelines:</li>
            <ul>
                <li>The representative mementos should be selected from within the collection. Theere should not be any memento from outside the collection.</li>
                <li>The default value for the number of selected mementos is k ≈ 28. is value can be more or less based on the nature and size of each collection.</li>
                <li>We expect to have three generated stories out of each collection. Depending on the nature of the collection, some kind of stories may not be applicable. For those collections, please specify if any of the previous kinds of stories cannot be created.</li>
                <li>You can choose a speciﬁc time period for generating the story. If the collection spans many years, you can choose a subset of the timespan of the collection.</li>
                <li>For selecting individual mementos:</li>
                <ul>
                    <li>the language of the memento should be in English</li>
                    <li>the memento should be ontopic (the content is related to the topic of the collection)</li>
                    <li>the memento should produce a visually aractive snippet on Storify, an article (cnn.com/a/b/12/2015) is more preferred than a homepage (cnn.com)</li>
                    <li>the memento should not be a (near-)duplicate of another memento in the list</li>
                    <li>a memento with no missing resources is a beer choice than a memento that is missing resources</li>
                </ul>
            </ul>
            <li>Hypercane performed the following steps:</li>
            <ol>
            <li>It gathered data from Archive-It's interface using <a href="https://github.com/oduwsdl/archiveit_utilities">Archive-It Utilities</a></li>
            <li>It analyzed all mementos to automatically discover the most frequent <a href="https://github.com/oduwsdl/sumgram">sumgrams</a> and named entities present in the overall story</li>
            <li>It analyzed all images in these mementos to automatically select the best image for the overall story</li>
            <li>It then formatted the data for the story based on all of this input</li>
            </ol>
            <li><a href="https://oduwsdl.github.io/raintale/">Raintale</a> took the input from Hypercane and rendered the final product with information supplied by  <a href="https://mementoembed.readthedocs.io/en/latest/">MementoEmbed</a></li>
        </ol>
        <hr>
        Other information about this story:
        <ul>
            <li>The <a href="https://doi.org/10.6084/m9.figshare.5701054">dataset</a> containing the mementos used in this and other human stories is available on Figshare.</li>
            <li>This URLs from this story were featured in:</li>
            <ul>
            <li>Yasmin AlNoamany, Michele C. Weigle, Michael L. Nelson. 2017. <a href="https://arxiv.org/abs/1705.06218">Stories From the Past Web</a>. arXiv Tech Report 1705.06218.</li>
            <li>Yasmin AlNoamany, Michele C. Weigle, Michael L. Nelson. 2017. <a href="https://doi.org/10.1145/3091478.3091508">Generating Stories From Archived Collections</a>. Proceedings of the 2017 ACM on Web Science Conference.</li>
            <li>Yasmin AlNoamany. 2016. <a href="https://digitalcommons.odu.edu/computerscience_etds/13/">Using Web Archives to Enrich the Live Web Experience Through Storytelling</a>. PhD Dissertation. Old Dominion University.</li>
            <li>Shawn M. Jones, Michele C. Weigle, Michael L. Nelson. 2019. <a href="https://doi.org/10.1145/3357384.3358039">Social Cards <em>Probably</em> Provide For Better Understanding Of Web Archive Collections</a>. Proceedings of the 28th ACM International Conference on Information and Knowledge Management.</li>
        </ul>
    </ul>
</section>