
<!-- <section id="banner" data-vide-bg="{{site.baseurl}}/assets/img/dark_puddle.jpg" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%"> -->
<section id="banner" style="background-image: url('{{site.baseurl}}/assets/img/cropped_dark_puddle.jpg'); padding: 1rem 0 1rem 0;">
  <div class="wrapper">
    <div class="content">
      <!-- <h1 class="title">{{ site.banner-title }}</h1> -->
      <h1 class="sub_title">{{ site.banner-desc }}</h1>
    </div>
  </div>
</section> <!-- End Section Banner -->
