<section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="https://oduwsdl.github.io/dsa-puddles/assets/img/dsa-logo-monochrome-wb.png" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">Dark and Stormy Archives - Puddles</h2>
        <p class="author_subtitle">Visit the <a href="https://oduwsdl.github.io/dsa/">Dark and Stormy Archives (DSA) project web site</a> for information on research, software, and more that supports storytelling with web archives.</p>
      </div>
    </div>
  </section> <!-- End Section Author -->
