
<footer class="main_footer">
  <div class="wrapper">
    <!-- {% include social_footer.html %} -->
    <div class="copyright">
      <p>Copyright &copy; Web Science and Digital Libraries Research Group - Department of Computer Science, Old Dominion University, Norfolk VA - 23529, 2018.</p>
    </div>
  </div>
</footer> <!-- End Section Footer -->

<script src="/dsa-puddles/assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dsa-puddles/assets/js/popper.min.js"></script>
<script src="/dsa-puddles/assets/js/bootstrap.min.js"></script>
