
<footer class="main_footer">
  <div class="wrapper">
    <!-- {% include social_footer.html %} -->
    <div class="copyright">
      <p>Learn more about the Dark and Stormy Archives Project:</p>
      <ul>
        <li><img style="width: 16px;" src="/dsa-puddles/assets/img/website-icon-32px.png">&nbsp;&nbsp;<a href="https://oduwsdl.github.io/dsa/" class="storynav">Visit the DSA web site</a></li>
        <li><img style="width: 16px;" src="/dsa-puddles/assets/img/mastodon-icon-32x34.png">&nbsp;&nbsp;<a rel="me" href="https://botsin.space/@shari_dsa">Follow @shari_dsa@botsin.space for announcements of SHARI News Summaries on Mastodon</a>
        <li><img style="width: 16px;" src="/dsa-puddles/assets/img/twitter-icon-32x32.png">&nbsp;&nbsp;<a href="https://twitter.com/StormyArchives" class="storynav">Follow @StormyArchives on Twitter</a></li>
        <li><img style="width: 16px;" src="/dsa-puddles/assets/img/f_logo_RGB-White-32x32.png">&nbsp;&nbsp;<a href="https://www.facebook.com/DarkAndStormyArchives/" class="storynav">Follow @DarkAndStormyArchives on Facebook</a></li>
      </ul>
      <p>This web site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> <br>by the <a href="https://ws-dl.blogspot.com/">Old Dominion University Web Science and Digital Libraries Research Group</a> 2019. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>
          </p>
    </div>
  </div>
</footer> <!-- End Section Footer -->

<script src="/dsa-puddles/assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dsa-puddles/assets/js/popper.min.js"></script>
<script src="/dsa-puddles/assets/js/bootstrap.min.js"></script>
