
<footer class="main_footer">
  <div class="wrapper">
    <!-- {% include social_footer.html %} -->
    <div class="copyright">
      <p>Learn more about the Dark and Stormy Archives Project:</p>
      <ul>
        <li><img style="width: 16px;" src="/dsa-puddles/assets/img/twitter-icon-32x32.png">&nbsp;&nbsp;<a href="https://twitter.com/StormyArchives" class="storynav">Follow @StormyArchives on Twitter</a></li>
        <li><img style="width: 16px;" src="/dsa-puddles/assets/img/f_logo_RGB-White-32x32.png">&nbsp;&nbsp;<a href="https://www.facebook.com/DarkAndStormyArchives/" class="storynav">Follow @DarkAndStormyArchives on Facebook</a></li>
      </ul>
      <p>Copyright &copy; Web Science and Digital Libraries Research Group - Department of Computer Science, Old Dominion University, Norfolk VA - 23529, 2018.</p>
    </div>
  </div>
</footer> <!-- End Section Footer -->

<script src="/dsa-puddles/assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dsa-puddles/assets/js/popper.min.js"></script>
<script src="/dsa-puddles/assets/js/bootstrap.min.js"></script>
