<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content='{{ page.description }}'>
	<meta name="author" content="Dark and Stormy Archives Project">
	<meta name="image" content="{{ page.img }}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@StormyArchives">
	<meta name="twitter:creator" content="@shawnmjones">
	<meta name="twitter:title" content="{{ page.shorttitle }}">
	<meta name="twitter:description" content="{{ page.description }}">
	<meta name="twitter:image" content="{{ page.img }}">
	<meta name="twitter:image:alt" content="{{ page.imgalt }}">

	<meta property="og:title" content="{{ page.shorttitle }}">
	<meta property="og:image" content="{{ page.img }}">
	<meta property="og:image:url" content="{{ page.img }}">
	<meta property="og:description" content='{{ page.description }}'>
	<meta property="og:locale" content="en_US">
	<meta property="og:site_name" content="DSA Puddles - Visualizations of the Dark and Stormy Archives Project">
	<meta property="og:image:alt" content="{{ page.img.alt }}">
	<meta property="og:url" content="https://oduwsdl.github.io/dsa-puddles/">
	<meta property="og:type" content="website" />

	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#d25469">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#d25469">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#d25469">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/additional.css" | prepend: site.baseurl }}">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
