
<nav class="pagination">
  {% if paginator.previous_page %}

    {% if paginator.page != 1 %}
    <h2 class="chapter_number"><a>Page {{ paginator.page }}</a></h2>
    {% endif %}

    {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl }}/">Prev</a>
    {% else %}
      <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">Prev</a>
    {% endif %}

  {% else %}
    <span class="disabled">Prev</span>
  {% endif %}

  {% if paginator.page == 1 %}
    <span class="active">1</span>
  {% else %}
    <a href="{{ site.baseurl }}/">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}

    {% if count == paginator.page %}
      <span class="active">{{ count }}</span>
    {% else %}
      <a href="{{ site.baseurl }}/page{{ count }}/">{{ count }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/page{{ paginator.next_page }}/">Next</a>
  {% else %}
    <span class="disabled">Next</span>
  {% endif %}
</nav> <!-- End Section Pagination -->