---
layout: post
title: DSA Puddles -- {{ title }} -- {% for term in metadata.terms %}{{ term }}{% if not loop.last %}, {% endif %}{% endfor %}
shorttitle: {{ title }}
description: {% for term in metadata.terms %}{{ term }}{% if not loop.last %}, {% endif %}{% endfor %} -- {% for entity in metadata.entities %}{{ entity }}{% if not loop.last %}, {% endif %}{% endfor %}
img: {{ story_image }}
imgalt: Striking image for {{ title }}
date: {{ generation_date }}
permalink: /stories/shari/{{ generation_date.strftime('%Y') }}/{{ generation_date.strftime('%m') }}/{{ generation_date.strftime('%d') }}/{{ title|lower|replace(' ', '_')|replace('/', '-') }}/
categories: [storygraph]
---

<style>
  .meta_text {
    color: #ffffff;
    background-color: rgba(210, 84, 105, 0.4);
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(210, 84, 105, 0.4), 0 0 0.2em rgba(210, 84, 105, 0.4);
  }
</style>

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_image">
          {% if story_image is not none %}
        <img src="{{ story_image }}" alt="{{ title }}">
        {% endif %}
      </div>
      <div class="post_description">
        <h1 class="post_title meta_text">{{ title }} -- {% for term in metadata.terms %}{{ term }}{% if not loop.last %}, {% endif %}{% endfor %}</h1>
        <p class="post_meta meta_text" style="width: 100%;">
        <p class="post_meta meta_text" style="width: 100%;">
        A news brief made from {{ elements|length }}/85 recently archived news articles
        </p>
        <br><br>
        {% if metadata is not none %}
        <!-- <strong class="meta_text">Sumgrams:</strong> <span class="meta_text">{% for term in metadata.terms %}{{ term }}{% if not loop.last %}, {% endif %}{% endfor %}</span><br><br> -->
        <strong class="meta_text">Entities:</strong> <span class="meta_text">{% for entity in metadata.entities %}{{ entity }}{% if not loop.last %}, {% endif %}{% endfor %}</span><br><br>
        {% endif %}
        <a href="{{ collection_url }}" class="meta_text">View the StoryGraph of this Story</a><br><br>
        {% raw %}
        {% if page.previous.url %}
            <a href="{{ site.baseurl}}{{ page.previous.url }}" class="meta_text" style="float: left;">&laquo; Previous Story</a>
        {% endif %}

        {% if page.next.url %}
            <a href="{{ site.baseurl}}{{ page.next.url }}" class="meta_text" style="float: right;">Next Story &raquo;</a>
        {% endif %}
        {% endraw %}
      </p>
      </div>
    </header> <!-- End Header -->

    <div class="entry_content">

        {% for element in elements %}
        <hr>
        
        {% if element.type == 'link' %}
        
        <blockquote 
            class="mementoembed"
            data-versionurl="{{ element.surrogate.urim }}"
            data-originalurl="{{ element.surrogate.original_uri }}"
            data-surrogate-creation-time="{{ element.surrogate.creation_time }}"
            data-image="{{ element.surrogate.best_image_uri }}"
            data-archive-name="{{ element.surrogate.archive_name }}"
            data-archive-favicon="{{ element.surrogate.archive_favicon }}"
            data-archive-uri="{{ element.surrogate.archive_uri }}"
            data-archive-collection-id="{{ element.surrogate.archive_collection_id }}"
            data-archive-collection-uri="{{ element.surrogate.archive_collection_uri }}"
            data-archive-collection-name="{{ element.surrogate.archive_collection_name }}"
            data-original-favicon="{{ element.surrogate.original_favicon }}"
            data-original-domain="{{ element.surrogate.original_domain }}"
            data-original-link-status="{{ element.surrogate.original_linkstatus }}"
            data-versiondate="{{ element.surrogate.memento_datetime.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
            style="
                width: 100%; 
                font-size: 12px;
                border: 1px solid rgb(231, 231, 231);
                background: center center no-repeat fixed rgb(255, 255, 255);
                margin: auto;
                padding: 0px;
                line-height: 19.6px;
                display: table;
                "
                data-processed="true"
                >
            <div class="me-image" style="
                color: rgb(51, 51, 51);
                display: inline;
                float: left;
                margin: 0px 30px 5px 0px;
                padding: 1px;
                max-height: 200px;
                max-width: 200px;
                width: 200px;
                background: center center no-repeat fixed rgb(255, 255, 255);"
                >
                <img
                    style="max-width: 200px; max-height: 200px;"
                    src="{{ element.surrogate.best_image_uri }}">
            </div>
            <div class="me-textright">
                <p
                    class="me-title"
                    style="
                        text-align: left;
                        color: rgb(9, 116, 255);
                        font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 19.6px;
                        padding: 0px;
                        margin: 0px 0px 1px;
                        background: center center no-repeat fixed rgb(255, 255, 255);"
                        >
                        <a class="me-title-link"
                            data-originalurl="{{ element.surrogate.original_uri }}"
                            data-versiondate="{{ element.surrogate.memento_datetime.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                            href="{{ element.surrogate.urim }}"
                            style="
                                text-decoration: none;
                                color: rgb(9, 116, 255);
                                background: center center no-repeat fixed rgb(255, 255, 255);
                                margin: 0px;
                                padding: 0px;
                                ">{{ element.surrogate.title }}</a>
                </p>
                <!-- <div 
                    class="me-belowtitle"
                    style="
                        color: rgb(153, 153, 153);
                        font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;
                        font-size: 10px;
                        text-align: left;
                        margin: 0px;
                        padding: 0px;
                        background: center center no-repeat fixed rgb(255, 255, 255);">

                        {% if element.surrogate.archive_collection_name is not none %}
                        <br>
                        Member of the Collection 
                        <a class="me-archive-link" style="
                            text-decoration: none;
                            color: rgb(9, 116, 255);
                            background: center center no-repeat fixed rgb(255, 255, 255);
                            margin: 0px;
                            padding: 0px;"
                            href="{{ element.surrogate.archive_collection_uri }}">{{ element.surrogate.archive_collection_name }}</a>
                        {% endif %}
                </div> -->
                <br>
                <p 
                class="me-snippet"
                style="
                    color: rgb(51, 51, 51);
                    font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: left; margin: 0px;
                    padding: 0px;
                    background: center center no-repeat fixed rgb(255, 255, 255);">{{ element.surrogate.snippet }}</p>
            </div>
            <div 
                class="me-footer" 
                style="
                    color: rgb(153, 153, 153);
                    font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;
                    font-size: 10px;
                    text-align:left;
                    margin: 10px 0px 0px;
                    padding: 10px 0px 0px;
                    background: center center no-repeat fixed rgb(255, 255, 255);">&nbsp;&nbsp;
                    <div style="float: left;">
                    <img
                        class="me-favicon"
                        src="{{ element.surrogate.original_favicon }}"
                        width="16"
                        style="
                            background: center center no-repeat fixed rgb(255, 255, 255);
                            margin: 0px;
                            padding: 0px;
                            font-size: 10px;
                            border-width: 0px;
                            border-style: none;
                            line-height: 15px;
                            border-image-repeat: initial;
                            border-image-width: 0;
                            font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;
                            font-stretch: initial;
                            font-weight: 400;
                            vertical-align: middle;">&nbsp;&nbsp;
                    <a
                        class="me-pubdate"
                        data-originalurl="{{ element.surrogate.original_uri }}"
                        data-versiondate="{{ element.surrogate.memento_datetime.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                        href="{{ element.surrogate.urim }}"
                        style="
                            text-decoration: none;
                            color: rgb(9, 116, 255);
                            background: center center no-repeat fixed rgb(255, 255, 255);
                            margin: 0px;
                            padding: 0px;">{{ element.surrogate.original_domain }}&nbsp;&nbsp;@&nbsp;&nbsp;{{ element.surrogate.memento_datetime.strftime('%Y-%m-%dT%H:%M:%SZ') }}</a>
                    </div>
                    <div style="float: right; margin-right: 10px;">
                    Preserved by <a
                    class="me-archive-link"
                    href="{{ element.surrogate.archive_uri }}"
                    style="
                        text-decoration: none;
                        color: rgb(9, 116, 255);
                        background: center center no-repeat fixed rgb(255, 255, 255);
                        margin: 0px;
                        padding: 0px;">{{ element.surrogate.archive_name }}</a>
                    <img 
                    class="me-favicon"
                    src="{{ element.surrogate.archive_favicon }}"
                    alt="{{ element.surrogate.archive_name }}"
                    width="16"
                    style="
                        background: center center no-repeat fixed rgb(255, 255, 255);
                        margin: 0px;
                        padding: 0px;
                        font-size: 10px;
                        border-width: 0px;
                        border-style: none;
                        line-height: 15px;
                        border-image-repeat: initial;
                        border-image-width: 0;
                        font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;
                        font-stretch: initial;
                        font-weight: 400;
                        vertical-align: middle;">
                    </div>
            </div>
            <div>
                    <a 
                        class="me-allversions"
                        href="http://timetravel.mementoweb.org/list/{{ element.surrogate.memento_datetime.strftime('%Y%m%d%H%M%S') }}Z/{{ element.surrogate.original_uri }}"
                        style="
                            text-decoration: none;
                            color: rgb(9, 116, 255);
                            background: center center no-repeat fixed rgb(255, 255, 255);
                            margin: 0px;
                            padding: 0px;">Other Versions</a>&nbsp; || 
                    <a 
                        class="me-livestatus"
                        data-versionurl="{{ element.surrogate.urim }}" 
                        data-versiondate="{{ element.surrogate.memento_datetime.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                        href="{{ element.surrogate.original_uri }}"
                        style="
                            text-decoration: none;
                            color: rgb(9, 116, 255);
                            background: center center no-repeat fixed rgb(255, 255, 255);
                            margin: 0px;
                            padding: 0px;">Current version</a>
            </div>
        </blockquote>
        
        {% else %}
        
        <p>{{ element.text }}</p>
        
        {% endif %}
        
        {% endfor %}

    </div>
  
  {% raw %}
    {% include storygraph-story-constructed.html %}
  {% endraw %}

  {% raw %}
    {% include dsa-more-information-footer.html %}
  {% endraw %}

  
</main> <!-- End Section Post Content -->
