---
layout: default
---
{% include header.html %}

<style>
    .meta_text {
        color: #ffffff;
        /* background-color: rgba(210, 84, 105, 0.4); */
        /* text-shadow: 1px 1px 2px black, 0 0 1em rgba(210, 84, 105, 0.4), 0 0 0.2em rgba(210, 84, 105, 0.4); */
        text-shadow: 15px 15px 100px black, 0 0 1em black, 0 0 0.2em black;
        background-color: transparent !important;
    }
    a.storynav:hover {
        text-decoration: underline;
    }
    a.storynav {
        color: #ffffff;
        text-decoration: none;
    }
</style>

<main class="post_content">
    <article class="post">
        <header>
            <div class="post_image" style="width: 100%; height: 300px">
            </div>
            <div class="post_description">
                <h1 class="post_title" style="background-color: white; color: black">{{ page.title }}</h1>
                <div class="meta_text" style="background-color: rgba(0, 0, 0, 0.6) !important; padding: 32px; color: #ffffff;">
                    The area below contains one of the stories presented to Mechanical Turk participants as part of the study published in
                    &quot;<a href="https://doi.org/10.1145/3357384.3358039" class="storynav">Social Cards Probably Provide For Better Understanding Of Web Archive Collections</a>&quot;.
                    <hr>
                    <table border="0" width="100%">
                        <tr><td width="30%" style="text-align: left;">
                    {% if page.previous.url %}
                        <a href="{{ site.baseurl}}{{ page.previous.url }}" class="storynav">&laquo; Previous Story</a>
                    {% else %}
                        &laquo; Previous Story
                    {% endif %}
                    </td><td width="40%" style="text-align: center;">
                    &nbsp;
                    </td><td width="30%" style="text-align: right;">
                    {% if page.next.url %}
                        <a href="{{ site.baseurl}}{{ page.next.url }}" class="storynav">Next Story &raquo;</a>
                    {% else %}
                        Next Story &raquo;
                    {% endif %}
                    </td>
                    </tr>
                    </table>
    
                    <hr>
    
                </div>
            </div>

        </header> <!-- End Header -->

        <!-- <div class="entry_content" >

        </div> -->
  
        <div class="entry_content">



{{ page.content }}


<hr>

<div style="background-color: #262626; padding: 32px; color: #ffffff;">
    <hr>
    <table border="0" width="100%">
        <tr><td width="30%" style="text-align: left;">
    {% if page.previous.url %}
        <a href="{{ site.baseurl}}{{ page.previous.url }}"  class="storynav">&laquo; Previous Story</a>
    {% else %}
        &laquo; Previous Story
    {% endif %}
    </td><td width="40%" style="text-align: center;">
    &nbsp;
    </td><td width="30%" style="text-align: right;">
    {% if page.next.url %}
        <a href="{{ site.baseurl}}{{ page.next.url }}"  class="storynav">Next Story &raquo;</a>
    {% else %}
        Next Story &raquo;
    {% endif %}
    </td>
    </tr>
    </table>
    <hr>
</div>

{% include dsa-more-information-footer.html %}
<!--
                    In January 2019 we presented 120 MT participants with a link to a survey hosted at Old Dominion University. 
                    Using a <a href="https://doi.org/10.6084/m9.figshare.5701054" class="storynav">dataset of stories generated by human curators</a>, 
                    we produced four stories represented by six different surrogates for 24 different combinations of surrogates and stories. 
                    After reading the instructions, each participant was given 30
                    seconds to view a story using a given surrogate. They were then asked a question about what they had just seen.
-->
        </div>
    </article>
</main> <!-- End Section Post Content -->


{% include footer.html %}
